<section class="contacts_base">
    <section class="contacts_container">
       <!-- @for (user of contacts; track $index) {
            <section class="contact">
                <div class="contact-icon_base" id=""></div>
                <div class="contact_info">
                    <p>{{user.first_name}} {{user.last_name}}</p>
                    <p class="email">{{user.email}}</p>
                </div>
            </section>
        } -->
            
        <section class="sorting_box">
            <p>A</p>
            <div id="a"></div>
            <div class="separator"></div>
        </section>

        <section class="sorting_box">
            <p>B</p>
            <div id="b"></div>
            <div class="separator"></div>
        </section>
        
        <section class="sorting_box">
            <p>C</p>
            <div id="c"></div>
            <div class="separator"></div>
        </section>
        
        <section class="sorting_box">
            <p>D</p>
            <div id="d"></div>
            <div class="separator"></div>
        </section>
        
        <section class="sorting_box">
            <p>E</p>
            <div id="e"></div>
            <div class="separator"></div>
        </section>
        
        <section class="sorting_box">
            <p>G</p>
            <div id="g"></div>
            <div class="separator"></div>
        </section>
        
        <section class="sorting_box">
            <p>H</p>
            <div id="h"></div>
            <div class="separator"></div>
        </section>

        <section class="sorting_box">
            <p>I</p>
            <div id="i"></div>
            <div class="separator"></div>
        </section>

        <section class="sorting_box">
            <p>J</p>
            <div id="j"></div>
            <div class="separator"></div>
        </section>
        
        <section class="sorting_box">
            <p>K</p>
            <div id="k"></div>
            <div class="separator"></div>
        </section>
        
        <section class="sorting_box">
            <p>L</p>
            <div id="l"></div>
            <div class="separator"></div>
        </section>
        
        <section class="sorting_box">
            <p>M</p>
            <div id="m"></div>
            <div class="separator"></div>
        </section>
        
        <section class="sorting_box">
            <p>N</p>
            <div id="n"></div>
            <div class="separator"></div>
        </section>
        
        <section class="sorting_box">
            <p>O</p>
            <div id="o"></div>
            <div class="separator"></div>
        </section>

        <section class="sorting_box">
            <p>P</p>
            <div id="p"></div>
            <div class="separator"></div>
        </section>
        
        <section class="sorting_box">
            <p>Q</p>
            <div id="q"></div>
            <div class="separator"></div>
        </section>
        
        <section class="sorting_box">
            <p>R</p>
            <div id="r"></div>
            <div class="separator"></div>
        </section>
        
        <section class="sorting_box">
            <p>S</p>
            <div id="s"></div>
            <div class="separator"></div>
        </section>
        
        <section class="sorting_box">
            <p>T</p>
            <div id="t"></div>
            <div class="separator"></div>
        </section>

        <section class="sorting_box">
            <p>U</p>
            <div id="u"></div>
            <div class="separator"></div>
        </section>

        <section class="sorting_box">
            <p>V</p>
            <div id="v"></div>
            <div class="separator"></div>
        </section>
        
        <section class="sorting_box">
            <p>W</p>
            <div id="w"></div>
            <div class="separator"></div>
        </section>
        
        <section class="sorting_box">
            <p>X</p>
            <div id="x"></div>
            <div class="separator"></div>
        </section>
        
        <section class="sorting_box">
            <p>Y</p>
            <div id="y"></div>
            <div class="separator"></div>
        </section>
        
        <section class="sorting_box">
            <p>Z</p>
            <div id="z"></div>
            <div class="separator"></div>
        </section>

    </section>
</section>
