<section class="main-container">

  <div>
    <button class="contact-button" (click)="openContactForm()">
      <p>Add new contact</p>
      <img src="assets/UI/vector/icon_add-user.svg" alt="">
    </button>

    <app-contact-form
      *ngIf="showContactForm()"
      (close)="closeContactForm()"
    ></app-contact-form>

    @for (group of groupedContacts(); track group[0]) {
      <p>{{ group[0] }}</p>
      <div class="separator"></div>
      @for (contact of group[1]; track contact.id) {
        <div (click)="openContactDetails(contact)" class="contact">
          <div class="contact_icon">
            <p>{{ getInitials(contact) }}</p>
          </div>
    
          <div>
            <p>{{ contact.first_name }} {{ contact.last_name }}</p>
            <p class="contact_email">{{ contact.email }}</p>
          </div>
        </div>
      }
    }
  </div>

</section>