<div class="main-container">

  <div class="contact-details-mobile" id="details_mobile">
    <section (click)="returnToContacts()" class="return_button">
      <img class="return_button_icon" src="assets/UI/icon_arrow.png" alt="">
    </section>
    <section class="contact">
        <h1>Contacts</h1>
        <div class="contact_second">
          <p>Better with a team</p>
          <div class="contact_line"></div>
        </div>
    </section>
    
    <section class="user">
        <p class="user_icon">{{userInitials}}</p>
        <p class="user_name">{{userName}} {{userSurName}}</p>
    </section>

    <section>
      <p>Contact Information</p>
      <div>
        <p>Email</p>
        <p class="user_email">{{userEmail}}</p>
      </div>
      <div>
        <p>Phone</p>
        <p>{{userPhone}}</p>
      </div>
    </section>
    
  </div>


  <div class="no-scroll" id="contact_container">
    <button class="contact-button" (click)="openContactForm()">
      <p>Add new contact</p>
      <img src="assets/UI/vector/icon_add-user.svg" alt="">
    </button>

    <app-contact-form
      *ngIf="showContactForm()"
      (close)="closeContactForm()"
    ></app-contact-form>

    @for (group of groupedContacts(); track group[0]) {
      <p>{{ group[0] }}</p>
      <div class="separator"></div>
      @for (contact of group[1]; track contact.id) {
        <!--[routerLink]="['/contact-list-mobile']"-->
        <div (click)="openContactDetails(contact)" class="contact">
          <div class="contact_icon">
            <p>{{ getInitials(contact) }}</p>
          </div>
    
          <div>
            <p>{{ contact.first_name }} {{ contact.last_name }}</p>
            <p class="contact_email">{{ contact.email }}</p>
          </div>
        </div>
      }
    }
  </div>

</div>