<main class="main-wrapper d-flex column">
  <div id="splash-container">
    <div class="splash-screen"></div>
    <header class="d-flex left-bound">
      <img id="logo" class="logo" src="assets/UI/logo_join.png" alt="company logo" />
    </header>
  </div>
  <section class="d-none center desktop-signup-wrapper">
    <p>Not a Member?</p>
    <a class="dark-btn-signup" routerLink="/signup">Sign Up</a>
  </section>
  <section class="d-flex column login-wrapper">
    <div>
      <h3 class="login">Log In</h3>
      <div class="d-flex center">
        <div class="underline"></div>
      </div>
      <form class="d-flex column input-wrapper" #loginForm="ngForm" (ngSubmit)="onSubmitLogin()">
        <div class="input-icon-wrapper">
          <input
            class="input-field"
            type="email"
            name="email"
            [(ngModel)]="loginData.email"
            placeholder="Email"
            required
            email
            #emailInput="ngModel"
          />
          <img class="mail-icon" src="assets/UI/icon_mail.png" alt="mail icon" />
        </div>
        <div class="placeholder-error">
          @if (emailInput.invalid && emailInput.touched) {
            <span class="error-message">Please enter a valid email address.</span>
          }
        </div>
        <div class="input-icon-wrapper">
          <input
            class="input-field"
            id="pwd"
            type="password"
            name="password"
            [(ngModel)]="loginData.password"
            placeholder="Password"
            required
            minlength="8"
          />
          <img
            class="visibility-icon"
            [src]="iconSrc"
            alt="visibility icon"
            (click)="showPassword()"
          />
        </div>
        <div class="placeholder-error">
          @if (loginError) {
            <span class="error-message">{{ loginError }}</span>
          }
        </div>
      </form>
    </div>
    <div class="buttons-wrapper d-flex column">
      <button
        class="dark-btn"
        type="button"
        [disabled]="loginForm.invalid"
        (click)="onSubmitLogin()"
      >
        Log In
      </button>
      <button class="white-btn" (click)="onGuestLogin()">Guest Log In</button>
    </div>
  </section>
  <section class="d-flex center signup-wrapper">
    <p>Not a Member?</p>
    <a class="dark-btn-signup" routerLink="/signup">Sign Up</a>
  </section>
  <footer class="d-flex center footer-wrapper">
    <a class="footer-links" routerLink="/privacy-policy">Privacy Policy</a>
    <a class="footer-links" routerLink="/legal-notice">Legal Notice</a>
  </footer>
</main>
