<app-submenu-popup></app-submenu-popup>
<section class="header_base">
  <img src="assets/UI/logo_join.png" alt="" />
  <p class="header__title">Kanban Project Management Tool</p>
  <div class="user_icon_position"></div>

  @if (db.isLoggedIn()) {
    <div class="header__actions">
      <a class="header__help display_not_mobile" routerLink="/help" aria-label="Help">
        <img src="assets/UI/vector/icon_help.svg" alt="" />
      </a>

      <div (click)="openSubMenu()" class="user_icon">
        <!--<p>N/A</p>-->
        <p>{{ userInitials() }}</p>
      </div>
    </div>
  }
</section>

