.header_base{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 428px;
    height: 80px;
    padding: 0 16px;
    background-color: var(--main_white);
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.177);

    >img{
        width: 32px;
        height: 39px;
    }
}
.user_icon{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    background-color: var(--main_white);
    border-radius: 100px;
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--main_black);

    >p{
        color: var(--main_blue);
        font-weight: bold;
    }
}