<h1>Add Task</h1>

<form [formGroup]="taskForm">
  <div class="add-task-form__columns">
    <div class="add-task-form__left">
      <div class="add-task-form__title">
        <label for="title">Title<span class="red">*</span></label>
        <input type="text" name="title" formControlName="title" placeholder="Enter a title" />
      </div>
      <div class="add-task-form__description">
        <label for="description">Description</label>
        <textarea
          name="description"
          formControlName="description"
          placeholder="Enter a Description"
        ></textarea>
      </div>
      <div class="add-task-form__due_date">
        <label for="due_date">Due date<span class="red">*</span></label>
        <input type="date" name="due_date" formControlName="due_date" [min]="today" />
      </div>
    </div>

    <div class="add-task-form__right">
      <div class="priority-buttons">
        <label>Priority</label>
        <div class="priority-buttons__wrapper">
          <button
            class="priority-btn urgent"
            type="button"
            [class.active]="taskForm.controls.priority.value === 'urgent'"
            (click)="setPriority('urgent')"
          >
            Urgent
          </button>
          <button
            class="priority-btn medium"
            type="button"
            [class.active]="taskForm.controls.priority.value === 'medium'"
            (click)="setPriority('medium')"
          >
            Medium
          </button>
          <button
            class="priority-btn low"
            type="button"
            [class.active]="taskForm.controls.priority.value === 'low'"
            (click)="setPriority('low')"
          >
            Low
          </button>
        </div>
      </div>

      <div class="dropdown-caregory">
        <label for="category">Category<span class="red">*</span></label>
        <select name="category" formControlName="category">
          <option value="">Select task category</option>
          <option value="Technical Tasks">Technical Tasks</option>
          <option value="User Story">User Story</option>
        </select>
      </div>

      <div class="assigned-dropdown">
        <label>Assigned to</label>

        <button class="assigned-dropdown__trigger" type="button" (click)="toggleAssignedDropdown()">
          Select contacts to assign
        </button>

        @if (isAssignedDropdownOpen) {
          <div class="assigned-dropdown__menu">
            @for (contact of contacts(); track contact.id) {
              <button
                class="assigned-dropdown__option"
                type="button"
                [class.selected]="isContactSelected(contact.id)"
                (click)="toggleContact(contact.id)"
              >
                <div class="assigned-dropdown__avatar__wrapper">
                  <span class="assigned-dropdown__avatar" [style.background-color]="contact.color">
                    {{ contact.first_name[0] }}{{ contact.last_name[0] }}
                  </span>

                  <span> {{ contact.first_name }} {{ contact.last_name }} </span>
                </div>

                <input type="checkbox" [checked]="isContactSelected(contact.id)" tabindex="-1" />
              </button>
            }
          </div>
        }

        @if (selectedContacts().length > 0) {
          <div class="assigned-dropdown__selected">
            @for (contact of selectedContacts().slice(0, 3); track contact.id) {
              <span
                class="assigned-dropdown__selected-avatar"
                [style.background-color]="contact.color"
                [title]="contact.first_name + ' ' + contact.last_name"
              >
                {{ contact.first_name[0] }}{{ contact.last_name[0] }}
              </span>
            }
            @if (selectedContacts().length > 3) {
              <span
                class="assigned-dropdown__selected-avatar assigned-dropdown__selected-more"
                [title]="selectedContacts().length - 3 + ' weitere Kontakte'"
              >
                +{{ selectedContacts().length - 3 }}
              </span>
            }
          </div>
        }
      </div>

      <div class="subtasks">
        <label for="subtask">Subtasks</label>

        <div class="subtasks__input" [class.subtasks__input--active]="isSubtaskInputActive">
          <input
            id="subtask"
            type="text"
            placeholder="Add new subtask"
            [formControl]="subtaskInput"
            (focus)="showSubtaskInputActions()"
          />

          @if (isSubtaskInputActive) {
            <div class="subtasks__actions">
              <button
                class="subtasks__action subtasks__action--cancel"
                type="button"
                aria-label="Cancel subtask"
                (click)="cancelNewSubtask()"
              ></button>

              <button
                class="subtasks__action subtasks__action--check"
                type="button"
                aria-label="Add subtask"
                (click)="addSubtask()"
              ></button>
            </div>
          }
        </div>

        @if (subtasks.controls.length > 0) {
          <ul class="subtasks__list">
            @for (subtask of subtasks.controls; track $index) {
              <li
                class="subtasks__item"
                [class.subtasks__item--editing]="editingSubtaskIndex === $index"
              >
                @if (editingSubtaskIndex === $index) {
                  <input type="text" [formControl]="subtask" />

                  <div class="subtasks__actions">
                    <button
                      class="subtasks__action subtasks__action--delete"
                      type="button"
                      aria-label="Delete subtask"
                      (click)="deleteSubtask($index)"
                    ></button>

                    <button
                      class="subtasks__action subtasks__action--check"
                      type="button"
                      aria-label="Confirm subtask"
                      (click)="confirmSubtask($index)"
                    ></button>
                  </div>
                } @else {
                  <button class="subtasks__title" type="button" (click)="startEditSubtask($index)">
                    {{ subtask.value }}
                  </button>

                  <div class="subtasks__actions subtasks__actions--hover">
                    <button
                      class="subtasks__action subtasks__action--edit"
                      type="button"
                      aria-label="Edit subtask"
                      (click)="startEditSubtask($index)"
                    ></button>

                    <button
                      class="subtasks__action subtasks__action--delete"
                      type="button"
                      aria-label="Delete subtask"
                      (click)="deleteSubtask($index)"
                    ></button>
                  </div>
                }
              </li>
            }
          </ul>
        }
      </div>
    </div>
  </div>

  <div class="add-task-form__required-footer-text">
    <p><span class="red">*</span> This field is required.</p>
  </div>

  <div class="add-task-form__buttons">
    <button
      class="add-task-form__button add-task-form__button--clear"
      type="button"
      (click)="clearTaskForm()"
    >
      Clear
    </button>

    <button
      class="add-task-form__button add-task-form__button--create"
      type="button"
      (click)="createTask()"
    >
      Create Task
    </button>
  </div>
</form>
