.screen{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    >app-contact-details{
        height: calc(100vh - 80px);
        flex: 1;
        overflow: hidden;
    }
}
@media(max-width:1190px){
    .screen{
        justify-content: center;
        >app-contacts{
            flex: 1;
        }
        >app-contact-details{
            display: none;
        }
    }
}