@use '../../../styles/variables' as *;

.d-flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.align-center {
  align-items: center;
  gap: 10px;
}

.column {
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.leftbound {
  align-items: center;
  justify-content: start;
}

.main-wrapper {
  background-color: $main-white;
  min-height: 100vh;
}

.header-wrapper {
  justify-content: flex-start;
  align-items: center;
  height: 84px;
  width: 100%;
  padding: 10px 25px 0;
}

.content-wrapper {
  background-color: #ffffff;
  padding: 24px 10px;
  margin: 20px 10px;
  border-radius: 16px;
  width: 100%;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.15);
}

.footer-wrapper {
  position: fixed;
  bottom: 25px;
  width: 100%;
  gap: 28px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: solid 1px $main-border;
}

.accept-policy {
  color: $main_blue;
}

.submit-btn {
  width: 75%;
  padding: 10px;
  background-color: $main_header;
  border-width: 0;
  border-radius: 8px;
  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.logo {
  width: 60px;
  padding: 5px;
}

.visibility-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  cursor: pointer;
}

.mail-icon,
.user-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
}

.input-icon-wrapper {
  position: relative;
  width: 100%;
}

.input-icon-wrapper .input-field {
  width: 100%;
}

.login {
  margin-block-start: 0.6rem;
  margin-block-end: 0.5rem;
  color: $main_black;
  text-align: center;
}

.error-message {
  color: $requirement;
  font-size: 1.2rem;
}

.placeholder-errors {
  min-height: 20px;
  min-width: 240px;
}

.back-arrow {
  margin-left: -10px;
}

.underline {
  width: 80%;
  height: 2px;
  background-color: $main_blue;
  margin: 10px 0;
}

.footer-links {
  color: $main-border;
}

@media (min-width: 320px) {
  .content-wrapper {
    width: 280px;
  }
}

@media (min-width: 425px) {
  .content-wrapper {
    width: 300px;
  }
}

@media (min-width: 767px) {
  .content-wrapper {
    width: 400px;
  }

  .back-arrow {
    margin-left: -70px;
  }

  .align-center {
    gap: 70px;
  }

  .header-wrapper {
    position: fixed;
    top: 12px;
    left: 24px;
  }

  .column{
    justify-content: center;
  }
}

@media (min-width: 1440px) {
  .content-wrapper {
    width: 500px;
  }

  .back-arrow {
    margin-left: -80px;
  }

  .align-center {
    gap: 80px;
  }
}
