$main_header: #2a3647;
$main_white: #f6f7f8;
$main_black: #000000;
$main_blue: #29abe2;
$main_grey: #E7E7E7;
//$user_lightblue: #D1D1D1;
  // user colors
$user_orange: #ffa35e;
$user_pink: #ff5eb3;
$user_blue: #6e52ff;
$user_purple: #9327ff;
$user_lightblue: #00bee8;
$user_red: #ff745e;
  // label colors
$label_user: #0038ff;
$label_technical: #1fd7c1;

  //border-input
$main-border:rgba(209, 209, 209, 1);
  // priority colors
$priority_urgent: #ff3d00;
$priority_medium: #ffa800;
$priority_low: #7ae229;
  // other colors
$requirement: #e60026;


//height header
$header_height_mobile: 80px;
$header_height_desktop: 80px; 