<main class="board-wrapper">
  <header class="header-wrapper">
    <section class="d-flex center-space">
      <h2 class="margin-correction">Board</h2>
      <button routerLink="/add-task" class="add-btn d-flex center">
        <img class="add-icon" src="assets/UI/icon_add.png" alt="add icon" />
      </button>
    </section>
    <div class="d-flex center searchbar-wrapper">
      <div class="search-task d-flex center">
        <input
          type="text"
          name="search"
          id="search"
          placeholder="Find Task"
          [(ngModel)]="board.searchQuery"
        />
        <div class="d-flex center search-bar">
          <div class="seperator"></div>
          <img src="assets/UI/icon_search.png" alt="search icon" />
        </div>
      </div>
      <div>
        <button routerLink="/add-task" class="add-btn-desktop d-flex center">
          <p class="margin-correction">Add task</p>
          <img class="add-icon" src="assets/UI/icon_add.png" alt="add icon" />
        </button>
      </div>
    </div>
  </header>
  <section class="task-wrapper">
    <section class="todo-wrapper d-flex center-space">
      <h4 class="margin-correction">To Do</h4>
      <button
        [routerLink]="['/add-task']"
        [queryParams]="{ status: 'to_do' }"
        class="add-btn-task d-flex center"
      >
        <img class="add-icon-task" src="assets/UI/icon_add.png" alt="add icon" />
      </button>
    </section>
    <div class="todo-container d-flex" id="todo-container" *ngIf="board.todoTasks.length > 0">
      <article class="task-card" *ngFor="let task of board.todoTasks">
        <div (click)="board.openTicketCard(task.id)">
          <div class="invisibile-button-section">
            <button class="direction-btn">
              <img class="up-arrow" src="assets/UI/icon_mobile_arrow.png" alt="arrow" />
            </button>
          </div>
          <p
            class="task-card__category margin-correction"
            [ngClass]="board.getTaskCardClass(task.category)"
          >
            {{ task.category }}
          </p>
          <h4 class="task-card__title margin-correction">{{ task.title }}</h4>
          <p class="task-card__description margin-correction">{{ task.description }}</p>
          <div class="d-flex center-space">
            <div class="subtask-progress-container">
              <div class="progressbar-track">
                <div class="progressbar-fill" [style.width.%]="board.getProgress(task.id)"></div>
              </div>
            </div>
            <p>
              {{ board.getCompletedSubtasksAmount(task.id) }}/{{ board.getSubtaskAmount(task.id).length }}
              Subtasks
            </p>
          </div>
          <div class="d-flex center-space">
            <div class="task-card__users">
              <div
                *ngFor="let contact of board.getContactsForTaskcard(task.id) | slice: 0 : 3"
                class="user-badge"
                [style.backgroundColor]="contact.color"
              >
                <p>{{ contact.initials }}</p>
              </div>

              <div
                *ngIf="board.getContactsForTaskcard(task.id).length > 3"
                class="user-badge overflow-badge"
              >
                <p>+{{ board.getContactsForTaskcard(task.id).length - 3 }}</p>
              </div>
            </div>
            <img
              [src]="'assets/UI/icon_prio-' + board.getNormalizedPriority(task.priority) + '.png'"
              alt="priority"
            />
          </div>
        </div>
        <div class="d-flex center">
          <button class="direction-btn" (click)="board.mobileMoveToStatus(task.id, 'in_progress')">
            <img class="down-arrow" src="assets/UI/icon_mobile_arrow.png" alt="arrow" />
          </button>
        </div>
      </article>
    </div>
    <div class="empty-todo-container" id="empty-todo-container" *ngIf="board.todoTasks.length === 0">
      <p class="margin-correction empty-txt">No Tasks To do</p>
    </div>
    <section class="progress-wrapper d-flex center-space">
      <h4 class="margin-correction">in Progress</h4>
      <button
        [routerLink]="['/add-task']"
        [queryParams]="{ status: 'in_progress' }"
        class="add-btn-task d-flex center">
        <img class="add-icon-task" src="assets/UI/icon_add.png" alt="add icon" />
      </button>
    </section>
    <div class="progress-container d-flex" id="progress" *ngIf="board.progressTasks.length > 0">
      <article class="task-card" *ngFor="let task of board.progressTasks">
        <div class="d-flex center">
          <button class="direction-btn" (click)="board.mobileMoveToStatus(task.id, 'to_do')">
            <img class="up-arrow" src="assets/UI/icon_mobile_arrow.png" alt="arrow" />
          </button>
        </div>
        <div (click)="board.openTicketCard(task.id)">
          <p
            class="task-card__category margin-correction"
            [ngClass]="board.getTaskCardClass(task.category)">
            {{ task.category }}
          </p>
          <h4 class="task-card__title">{{ task.title }}</h4>
          <p class="task-card__description">{{ task.description }}</p>
          <div class="d-flex center-space">
            <div class="subtask-progress-container">
              <div class="progressbar-track">
                <div class="progressbar-fill" [style.width.%]="board.getProgress(task.id)"></div>
              </div>
            </div>
            <p>
              {{ board.getCompletedSubtasksAmount(task.id) }}/{{ board.getSubtaskAmount(task.id).length }}
              Subtasks
            </p>
          </div>
          <div class="d-flex center-space">
            <div class="task-card__users">
              <div
                *ngFor="let contact of board.getContactsForTaskcard(task.id) | slice: 0 : 3"
                class="user-badge"
                [style.backgroundColor]="contact.color">
                <p>{{ contact.initials }}</p>
              </div>

              <div
                *ngIf="board.getContactsForTaskcard(task.id).length > 3"
                class="user-badge overflow-badge">
                <p>+{{ board.getContactsForTaskcard(task.id).length - 3 }}</p>
              </div>
            </div>
            <img
              [src]="'assets/UI/icon_prio-' + board.getNormalizedPriority(task.priority) + '.png'"
              alt="priority"
            />
          </div>
        </div>
        <div class="d-flex center">
          <button class="direction-btn" (click)="board.mobileMoveToStatus(task.id, 'await_feedback')">
            <img class="down-arrow" src="assets/UI/icon_mobile_arrow.png" alt="arrow" />
          </button>
        </div>
      </article>
    </div>
    <div
      class="empty-progress-container"
      id="empty-progress-container"
      *ngIf="board.progressTasks.length === 0">
      <p class="margin-correction empty-txt">No Tasks in Progress</p>
    </div>
    <section class="feedback-wrapper d-flex center-space">
      <h4 class="margin-correction">Await Feedback</h4>
      <button
        [routerLink]="['/add-task']"
        [queryParams]="{ status: 'await_feedback' }"
        class="add-btn-task d-flex center">
        <img class="add-icon-task" src="assets/UI/icon_add.png" alt="add icon" />
      </button>
    </section>
    <div class="feedback-container d-flex" id="feedback" *ngIf="board.feedbackTasks.length > 0">
      <article class="task-card" *ngFor="let task of board.feedbackTasks">
        <div class="d-flex center">
          <button class="direction-btn" (click)="board.mobileMoveToStatus(task.id, 'in_progress')">
            <img class="up-arrow" src="assets/UI/icon_mobile_arrow.png" alt="arrow" />
          </button>
        </div>
        <div (click)="board.openTicketCard(task.id)">
          <p
            class="task-card__category margin-correction"
            [ngClass]="board.getTaskCardClass(task.category)">
            {{ task.category }}
          </p>
          <h4 class="task-card__title">{{ task.title }}</h4>
          <p class="task-card__description">{{ task.description }}</p>
          <div class="d-flex center-space">
            <div class="subtask-progress-container">
              <div class="progressbar-track">
                <div class="progressbar-fill" [style.width.%]="board.getProgress(task.id)"></div>
              </div>
            </div>
            <p>
              {{ board.getCompletedSubtasksAmount(task.id) }}/{{ board.getSubtaskAmount(task.id).length }}
              Subtasks
            </p>
          </div>
          <div class="d-flex center-space">
            <div class="task-card__users">
              <div
                *ngFor="let contact of board.getContactsForTaskcard(task.id) | slice: 0 : 3"
                class="user-badge"
                [style.backgroundColor]="contact.color">
                <p>{{ contact.initials }}</p>
              </div>
              <div
                *ngIf="board.getContactsForTaskcard(task.id).length > 3"
                class="user-badge overflow-badge">
                <p>+{{ board.getContactsForTaskcard(task.id).length - 3 }}</p>
              </div>
            </div>
            <img
              [src]="'assets/UI/icon_prio-' + board.getNormalizedPriority(task.priority) + '.png'"
              alt="priority"
            />
          </div>
        </div>
        <div class="d-flex center">
          <button class="direction-btn" (click)="board.mobileMoveToStatus(task.id, 'done')">
            <img class="down-arrow" src="assets/UI/icon_mobile_arrow.png" alt="arrow" />
          </button>
        </div>
      </article>
    </div>
    <div
      class="empty-feedback-container"
      id="empty-feedback-container"
      *ngIf="board.feedbackTasks.length === 0">
      <p class="margin-correction empty-txt">No Tasks await Feedback</p>
    </div>
    <section class="done-wrapper">
      <h4 class="margin-correction">Done</h4>
    </section>
    <div class="done-container d-flex" id="done" *ngIf="board.doneTasks.length > 0">
      <article class="task-card" *ngFor="let task of board.doneTasks">
        <div class="d-flex center">
          <button class="direction-btn" (click)="board.mobileMoveToStatus(task.id, 'await_feedback')">
            <img class="up-arrow" src="assets/UI/icon_mobile_arrow.png" alt="arrow" />
          </button>
        </div>
        <div (click)="board.openTicketCard(task.id)">
          <p
            class="task-card__category margin-correction"
            [ngClass]="board.getTaskCardClass(task.category)">
            {{ task.category }}
          </p>
          <h4 class="task-card__title">{{ task.title }}</h4>
          <p class="task-card__description">{{ task.description }}</p>
          <div class="d-flex center-space">
            <div class="subtask-progress-container">
              <div class="progressbar-track">
                <div class="progressbar-fill" [style.width.%]="board.getProgress(task.id)"></div>
              </div>
            </div>
            <p>
              {{ board.getCompletedSubtasksAmount(task.id) }}/{{ board.getSubtaskAmount(task.id).length }}
              Subtasks
            </p>
          </div>
          <div class="d-flex center-space">
            <div class="task-card__users">
              <div
                *ngFor="let contact of board.getContactsForTaskcard(task.id) | slice: 0 : 3"
                class="user-badge"
                [style.backgroundColor]="contact.color">
                <p>{{ contact.initials }}</p>
              </div>

              <div
                *ngIf="board.getContactsForTaskcard(task.id).length > 3"
                class="user-badge overflow-badge">
                <p>+{{ board.getContactsForTaskcard(task.id).length - 3 }}</p>
              </div>
            </div>
            <img
              [src]="'assets/UI/icon_prio-' + board.getNormalizedPriority(task.priority) + '.png'"
              alt="priority"
            />
          </div>
          <div class="invisibile-button-section">
            <button class="direction-btn">
              <img class="down-arrow" src="assets/UI/icon_mobile_arrow.png" alt="arrow" />
            </button>
          </div>
        </div>
      </article>
    </div>
    <div class="empty-done-container" id="empty-done-container" *ngIf="board.doneTasks.length === 0">
      <p class="margin-correction empty-txt">No Tasks Done</p>
    </div>
  </section>
</main>