<div class="edit-modal-overlay">
  <div
    class="edit-modal"
    [class.edit-modal--closing]="isClosing"
    (animationend)="onModalAnimationEnd($event)"
  >
    <section class="edit-modal__header">
      <button class="edit-modal__close edit-modal__close--mobileIMG" type="button" (click)="requestClose()">
        <img class="" src="assets/UI/vector/icon_close.svg" alt="Schließen" />
      </button>

      <div class="edit-modal__headline">
        <h2>Edit contact</h2>
      </div>
    </section>

    <section class="edit-modal__body">
      <button class="edit-modal__close edit-modal__close--desktopIMG" type="button" (click)="requestClose()">
        <img class="" src="assets/UI/vector/icon_cancle.svg" alt="Schließen" />
      </button>
      <div class="edit-modal__avatar" [style.backgroundColor]="avatarColor">
        <p>{{initalFirstname}}{{initalLastname}}</p>
      </div>

      <form class="edit-modal__form" [formGroup]="editContactForm" (ngSubmit)="saveContact()">
        <div class="edit-modal__field">
          <input class="" type="text" formControlName="firstname" />
          <img src="assets/UI/vector/icon_user.svg" alt="Person Icon" />
        </div>

        <div class="edit-modal__field">
          <input class="" type="text" formControlName="lastname" />
          <img src="assets/UI/vector/icon_user.svg" alt="Person Icon" />
        </div>

        <div class="edit-modal__field">
          <input type="email" formControlName="email" />
          <img src="assets/UI/vector/icon_mail.svg" alt="Email Icon" />
        </div>

        <div class="edit-modal__field">
          <input type="tel" formControlName="phone" />
          <img src="assets/UI/vector/icon_call.svg" alt="Telefon Icon" />
        </div>

        <div class="edit-modal__actions">
          <button class="edit-modal__delete" type="button" (click)="deleteContact()">Delete</button>

          <button class="edit-modal__save" type="submit">Save ✓</button>
        </div>
      </form>
    </section>
  </div>
</div>
