<nav>
  <img class="navbar__logo" src="/assets/UI/vector/logo_join-white.svg" alt="Join" />

  <section class="navbar__links">
    <section class="navbar__link">
      <div class="navbar__icon">
        <img src="/assets/UI/vector/icon_summary.svg" alt="Summary" />
      </div>
      <div class="navbar__name">
        <a [routerLink]="['/summary']"><p>Summary</p></a>
      </div>
    </section>
    <section class="navbar__link">
      <div class="navbar__icon">
        <img src="/assets/UI/vector/icon_add-task.svg" alt="Add Task" />
      </div>
      <div class="navbar__name">
        <a [routerLink]="['/add-task']"><p>Add Task</p></a>
      </div>
    </section>
    <section class="navbar__link">
      <div class="navbar__icon">
        <img src="/assets/UI/vector/icon_board.svg" alt="Board" />
      </div>
      <div class="navbar__name">
        <a [routerLink]="['/board']"><p>Board</p></a>
      </div>
    </section>
    <section class="navbar__link">
      <div class="navbar__icon">
        <img src="/assets/UI/icon_contacts.png" alt="Contacts" />
      </div>
      <div class="navbar__name">
        <a [routerLink]="['/contact-list']"><p>Contacts</p></a>
      </div>
    </section>
  </section>

  <section class="navbar__links--legals">
    <div class="navbar__name">
      <a [routerLink]="['/privacy-police']"><p>Privacy Policy</p></a>
    </div>
    <div class="navbar__name">
      <a [routerLink]="['/legal-notice']"><p>Legal notice</p></a>
    </div>
  </section>
</nav>
