<footer>
    <div class="footer_icon" id="footer_summary">
        <img src="/assets/UI/vector/icon_summary.svg" alt="">
        <p>Summary</p>
    </div>  
    <div class="footer_icon" id="footer_add-task">
        <img src="/assets/UI/vector/icon_add-task.svg" alt="">
        <p>Add Task</p>
    </div>
    <div class="footer_icon" id="footer_board">
        <img src="/assets/UI/vector/icon_board.svg" alt="">
        <p>Board</p>
    </div>  
    <div class="footer_icon" id="footer_contacts">
        <img src="/assets/UI/icon_contacts.png" alt="">
        <p>Contacts</p>
    </div>
</footer>