<main class="board-wrapper">

  <app-ticket-details></app-ticket-details>
  <app-board-mobile></app-board-mobile>

  <section class="task-wrapper-desktop">
    <section class="todo-wrapper d-flex center-space">
      <h4 class="margin-desktop">To Do</h4>
      <button
        [routerLink]="['/add-task']"
        [queryParams]="{ status: 'to_do' }"
        class="add-btn-task d-flex center">
        <img class="add-icon-task" src="assets/UI/icon_add.png" alt="add icon" />
      </button>
    </section>
    <section class="progress-wrapper d-flex center-space">
      <h4 class="margin-desktop">in Progress</h4>
      <button
        [routerLink]="['/add-task']"
        [queryParams]="{ status: 'in_progress' }"
        class="add-btn-task d-flex center">
        <img class="add-icon-task" src="assets/UI/icon_add.png" alt="add icon" />
      </button>
    </section>
    <section class="feedback-wrapper d-flex center-space">
      <h4 class="margin-desktop">Await Feedback</h4>
      <button
        [routerLink]="['/add-task']"
        [queryParams]="{ status: 'await_feedback' }"
        class="add-btn-task d-flex center">
        <img class="add-icon-task" src="assets/UI/icon_add.png" alt="add icon" />
      </button>
    </section>
    <section class="done-wrapper">
      <h4 class="margin-desktop">Done</h4>
    </section>
  </section>
  <section class="tasks-wrapper-desktop">
    <div
      class="todo-container d-flex"
      id="todo-container"
      *ngIf="todoTasks.length > 0"
      [ngClass]="{ 'drop-target': isDropTarget('todo-container') }"
      (dragover)="dragOver('todo-container', $event)"
      (dragleave)="dragLeave('todo-container', $event)"
      (drop)="moveToStatus('to_do', $event)">
      <article
        class="task-card"
        draggable="true"
        (dragstart)="startDragging(task.id, $event)"
        (dragend)="dragEnd($event)"
        (dragover)="$event.preventDefault()"
        *ngFor="let task of todoTasks">
        <div (click)="openTicketCard(task.id)">
          <p
            class="task-card__category margin-correction"
            [ngClass]="getTaskCardClass(task.category)">
            {{ task.category }}
          </p>
          <h4 class="task-card__title">{{ task.title }}</h4>
          <p class="task-card__description">
            {{ task.description }}
          </p>
          <div class="d-flex center-space">
            <div class="subtask-progress-container">
              <div class="progressbar-track">
                <div class="progressbar-fill" [style.width.%]="getProgress(task.id)"></div>
              </div>
            </div>
            <p>
              {{ getCompletedSubtasksAmount(task.id) }}/{{ getSubtaskAmount(task.id).length }}
              Subtasks
            </p>
          </div>
          <div class="d-flex center-space">
            <div class="task-card__users">
              <div
                *ngFor="let contact of getContactsForTaskcard(task.id) | slice: 0 : 3"
                class="user-badge"
                [style.backgroundColor]="contact.color"
              >
                <p>{{ contact.initials }}</p>
              </div>

              <div
                *ngIf="getContactsForTaskcard(task.id).length > 3"
                class="user-badge overflow-badge"
              >
                <p>+{{ getContactsForTaskcard(task.id).length - 3 }}</p>
              </div>
            </div>
            <img
              [src]="'assets/UI/icon_prio-' + getNormalizedPriority(task.priority) + '.png'"
              alt="priority"
            />
          </div>
        </div>
      </article>
    </div>
    <div
      class="empty-todo-container"
      id="empty-todo-container"
      *ngIf="todoTasks.length === 0"
      [ngClass]="{ 'drop-target': isDropTarget('empty-todo-container') }"
      (dragover)="dragOver('empty-todo-container', $event)"
      (dragleave)="dragLeave('empty-todo-container', $event)"
      (drop)="moveToStatus('to_do', $event)">
      <p class="margin-correction empty-txt">No Tasks To do</p>
      <p class="margin-correction empty-txt">Add a Task you have to complete</p>
    </div>
    <div
      class="progress-container"
      id="progress"
      *ngIf="progressTasks.length > 0"
      [ngClass]="{ 'drop-target': isDropTarget('progress') }"
      (dragover)="dragOver('progress', $event)"
      (dragleave)="dragLeave('progress', $event)"
      (drop)="moveToStatus('in_progress', $event)">
      <article
        class="task-card"
        draggable="true"
        (dragstart)="startDragging(task.id, $event)"
        (dragend)="dragEnd($event)"
        (dragover)="$event.preventDefault()"
        *ngFor="let task of progressTasks">
        <div (click)="openTicketCard(task.id)">
          <p
            class="task-card__category margin-correction"
            [ngClass]="getTaskCardClass(task.category)">
            {{ task.category }}
          </p>
          <h4 class="task-card__title">{{ task.title }}</h4>
          <p class="task-card__description">{{ task.description }}</p>
          <div class="d-flex center-space">
            <div class="subtask-progress-container">
              <div class="progressbar-track">
                <div class="progressbar-fill" [style.width.%]="getProgress(task.id)"></div>
              </div>
            </div>
            <p>
              {{ getCompletedSubtasksAmount(task.id) }}/{{ getSubtaskAmount(task.id).length }}
              Subtasks
            </p>
          </div>
          <div class="d-flex center-space">
            <div class="task-card__users">
              <div
                *ngFor="let contact of getContactsForTaskcard(task.id) | slice: 0 : 3"
                class="user-badge"
                [style.backgroundColor]="contact.color">
                <p>{{ contact.initials }}</p>
              </div>
              <div
                *ngIf="getContactsForTaskcard(task.id).length > 3"
                class="user-badge overflow-badge">
                <p>+{{ getContactsForTaskcard(task.id).length - 3 }}</p>
              </div>
            </div>
            <img
              [src]="'assets/UI/icon_prio-' + getNormalizedPriority(task.priority) + '.png'"
              alt="priority"
            />
          </div>
        </div>
      </article>
    </div>
    <div
      class="empty-progress-container"
      id="empty-progress-container"
      *ngIf="progressTasks.length === 0"
      [ngClass]="{ 'drop-target': isDropTarget('empty-progress-container') }"
      (dragover)="dragOver('empty-progress-container', $event)"
      (dragleave)="dragLeave('empty-progress-container', $event)"
      (drop)="moveToStatus('in_progress', $event)">
      <p class="margin-correction empty-txt">No Tasks in Progress</p>
      <p class="margin-correction empty-txt">Drop your Task here if it's in Progress</p>
    </div>
    <div
      class="feedback-container"
      id="feedback"
      *ngIf="feedbackTasks.length > 0"
      [ngClass]="{ 'drop-target': isDropTarget('feedback') }"
      (dragover)="dragOver('feedback', $event)"
      (dragleave)="dragLeave('feedback', $event)"
      (drop)="moveToStatus('await_feedback', $event)">
      <article
        class="task-card"
        draggable="true"
        (dragstart)="startDragging(task.id, $event)"
        (dragend)="dragEnd($event)"
        (dragover)="$event.preventDefault()"
        *ngFor="let task of feedbackTasks">
        <div (click)="openTicketCard(task.id)">
          <p
            class="task-card__category margin-correction"
            [ngClass]="getTaskCardClass(task.category)">
            {{ task.category }}
          </p>
          <h4 class="task-card__title">{{ task.title }}</h4>
          <p class="task-card__description">{{ task.description }}</p>
          <div class="d-flex center-space">
            <div class="subtask-progress-container">
              <div class="progressbar-track">
                <div class="progressbar-fill" [style.width.%]="getProgress(task.id)"></div>
              </div>
            </div>
            <p>
              {{ getCompletedSubtasksAmount(task.id) }}/{{ getSubtaskAmount(task.id).length }}
              Subtasks
            </p>
          </div>
          <div class="d-flex center-space">
            <div class="task-card__users">
              <div
                *ngFor="let contact of getContactsForTaskcard(task.id) | slice: 0 : 3"
                class="user-badge"
                [style.backgroundColor]="contact.color">
                <p>{{ contact.initials }}</p>
              </div>
              <div
                *ngIf="getContactsForTaskcard(task.id).length > 3"
                class="user-badge overflow-badge">
                <p>+{{ getContactsForTaskcard(task.id).length - 3 }}</p>
              </div>
            </div>
            <img
              [src]="'assets/UI/icon_prio-' + getNormalizedPriority(task.priority) + '.png'"
              alt="priority"
            />
          </div>
        </div>
      </article>
    </div>
    <div
      class="empty-feedback-container"
      id="empty-feedback-container"
      *ngIf="feedbackTasks.length === 0"
      [ngClass]="{ 'drop-target': isDropTarget('empty-feedback-container') }"
      (dragover)="dragOver('empty-feedback-container', $event)"
      (dragleave)="dragLeave('empty-feedback-container', $event)"
      (drop)="moveToStatus('await_feedback', $event)">
      <p class="margin-correction empty-txt">No Tasks await Feedback</p>
      <p class="margin-correction empty-txt">Drag your Task here if you await Feedback</p>
    </div>
    <div
      class="done-container"
      id="done"
      *ngIf="doneTasks.length > 0"
      [ngClass]="{ 'drop-target': isDropTarget('done') }"
      (dragover)="dragOver('done', $event)"
      (dragleave)="dragLeave('done', $event)"
      (drop)="moveToStatus('done', $event)">
      <article
        class="task-card"
        draggable="true"
        (dragstart)="startDragging(task.id, $event)"
        (dragend)="dragEnd($event)"
        (dragover)="$event.preventDefault()"
        *ngFor="let task of doneTasks">
        <div (click)="openTicketCard(task.id)">
          <p
            class="task-card__category margin-correction"
            [ngClass]="getTaskCardClass(task.category)">
            {{ task.category }}
          </p>
          <h4 class="task-card__title">{{ task.title }}</h4>
          <p class="task-card__description margin-correction">{{ task.description }}</p>
          <div class="d-flex center-space">
            <div class="subtask-progress-container">
              <div class="progressbar-track">
                <div class="progressbar-fill" [style.width.%]="getProgress(task.id)"></div>
              </div>
            </div>
            <p class="subtask-text">
              {{ getCompletedSubtasksAmount(task.id) }}/{{ getSubtaskAmount(task.id).length }}
              Subtasks
            </p>
          </div>
          <div class="d-flex center-space">
            <div class="task-card__users">
              <div
                *ngFor="let contact of getContactsForTaskcard(task.id) | slice: 0 : 3"
                class="user-badge"
                [style.backgroundColor]="contact.color">
                <p>{{ contact.initials }}</p>
              </div>
              <div
                *ngIf="getContactsForTaskcard(task.id).length > 3"
                class="user-badge overflow-badge">
                <p>+{{ getContactsForTaskcard(task.id).length - 3 }}</p>
              </div>
            </div>
            <img
              [src]="'assets/UI/icon_prio-' + getNormalizedPriority(task.priority) + '.png'"
              alt="priority"
            />
          </div>
        </div>
      </article>
    </div>
    <div
      class="empty-done-container"
      id="empty-done-container"
      *ngIf="doneTasks.length === 0"
      [ngClass]="{ 'drop-target': isDropTarget('empty-done-container') }"
      (dragover)="dragOver('empty-done-container', $event)"
      (dragleave)="dragLeave('empty-done-container', $event)"
      (drop)="moveToStatus('done', $event)">
      <p class="margin-correction empty-txt">No Tasks Done</p>
      <p class="margin-correction empty-txt">Drag your Task here if it's Done.</p>
    </div>
  </section>
</main>