:root {
  --main_header: #2A3647;
  --main_white: #F6F7F8;
  --main_blue: #29ABE2;
  --user_orange: #FFA35E;
  --user_pink: #FF5EB3;
  --user_blue: #6E52FF;
  --user_purple: #9327FF;
  --user_lightblue: #00BEE8;
  --user_red: #FF745E;
  --label_user: #0038FF;
  --label_technical: #1FD7C1;
  --priority_urgent: #FF3D00;
  --priority_medium: #FFA800;
  --priority_low: #7AE229;
  --requirement: #E60026;
}
